html,
body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

#app {
	display: flex;
	align-items: center;
	height: 100svh;
	width: 100svw;
	justify-content: center;
}
#input-one {
	display: flex;
	flex-direction: column;
	height: 30vh;
	justify-content: center;
	align-items: center;
}
#input-one > #label {
	font-size: 1rem;
}
